<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../layout/head'); %>

  <body class="container">
    <%- include('../layout/header'); %>
    <main>
      <div class="jumbotron">
        <h1>Node com o EJS</h1>
        <p><em> <%= subtitle %> </em></p>
        <p>vamos aprender a trabalhar com arquivos EJS</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde rem
          minus quisquam cupiditate hic amet voluptas a atque veritatis possimus
          nemo, natus recusandae fuga illo et, asperiores alias eveniet
          temporibus!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
          accusantium harum dolores ratione maiores. Deserunt repudiandae nam
          est laboriosam velit esse ex facere reprehenderit, ut libero! Ut
          officia eum maxime!
        </p>
      </div>
      <ul>
        <% qualities.forEach(function(quality){ %>
        <li><strong><%= quality.title %></strong><%= quality.message %></li>
        <% }) %>
      </ul>
    </main>
    <%- include('../layout/footer'); %>
  </body>
</html>
